.productRow {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem;
	border-bottom: 1px solid #b4befe;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	font-size: larger;
	font-weight: 600;
	font-style: italic;
}

.productRow:hover {
	cursor: pointer;
	background-color: #313244;
}

.infoGroup {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.bought {
	color: #6c7086;
	text-decoration: line-through;
	cursor: pointer;
}

.notBought {
	cursor: pointer;
}

.controls {
	display: none;
}

.productRow:hover .controls {
	display: flex;
	gap: 0.5rem;
}

.button {
	all: unset;
	cursor: pointer;
	font-size: small;
	color: #94e2d5;
	font-size: large;
	user-select: none;
}

.removeButton {
	color: #f38ba8;
}

.button:hover {
	opacity: 1;
	text-decoration: underline;
}

.check {
	appearance: none;
	width: 1.2em;
	height: 1.2em;
	border: 2px solid #b4befe;
	border-radius: 4px;
	background: #1e1e2e;
	cursor: pointer;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	transition: border-color 0.2s;
}

.check:checked {
	border-color: #6c7086;;
}

.check:checked::after {
	content: '';
	position: absolute;
	left: 0.2em;
	width: 0.3em;
	height: 0.6em;
	border: solid #6c7086;;
	border-width: 0 0.2em 0.2em 0;
	transform: rotate(45deg);
}
