.listSection {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 2rem;
	flex-direction: column;
}

.listContainer {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	width: 100%;
	max-width: 500px;
	margin-top: 2rem;
}

.addItemButton {
	all: unset;
	cursor: pointer;
	font-size: x-large;
	font-weight: bold;
	color: #cba6f7;
	text-align: center;
}

.addItemButton:hover {
	text-decoration: underline;
}

.filter {
	all: unset;
	display: inline-block;
}

.filter:hover {
	text-decoration: underline;
}
