.title {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 2rem;
}

.menu {
	position: fixed;
	top: 2rem;
	left: 2.5rem;
}

.menuButton {
	all: unset;
	font-size: xx-large;
	cursor: pointer;
	user-select: none;
}

.menuButton:hover {
	color: #cba6f7;
}
