@font-face {
	font-family: "MapleMono";
	src: url("/fonts/MapleMono-NF-Thin.ttf") format("truetype");
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: "MapleMono";
	src: url("/fonts/MapleMono-NF-ThinItalic.ttf") format("truetype");
	font-weight: 100;
	font-style: italic;
}
@font-face {
	font-family: "MapleMono";
	src: url("/fonts/MapleMono-NF-ExtraLight.ttf") format("truetype");
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: "MapleMono";
	src: url("/fonts/MapleMono-NF-ExtraLightItalic.ttf") format("truetype");
	font-weight: 200;
	font-style: italic;
}
@font-face {
	font-family: "MapleMono";
	src: url("/fonts/MapleMono-NF-Light.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: "MapleMono";
	src: url("/fonts/MapleMono-NF-LightItalic.ttf") format("truetype");
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: "MapleMono";
	src: url("/fonts/MapleMono-NF-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "MapleMono";
	src: url("/fonts/MapleMono-NF-Italic.ttf") format("truetype");
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: "MapleMono";
	src: url("/fonts/MapleMono-NF-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: "MapleMono";
	src: url("/fonts/MapleMono-NF-MediumItalic.ttf") format("truetype");
	font-weight: 500;
	font-style: italic;
}
@font-face {
	font-family: "MapleMono";
	src: url("/fonts/MapleMono-NF-SemiBold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: "MapleMono";
	src: url("/fonts/MapleMono-NF-SemiBoldItalic.ttf") format("truetype");
	font-weight: 600;
	font-style: italic;
}
@font-face {
	font-family: "MapleMono";
	src: url("/fonts/MapleMono-NF-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: "MapleMono";
	src: url("/fonts/MapleMono-NF-BoldItalic.ttf") format("truetype");
	font-weight: 700;
	font-style: italic;
}
@font-face {
	font-family: "MapleMono";
	src: url("/fonts/MapleMono-NF-ExtraBold.ttf") format("truetype");
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: "MapleMono";
	src: url("/fonts/MapleMono-NF-ExtraBoldItalic.ttf") format("truetype");
	font-weight: 800;
	font-style: italic;
}

/* ================================= FONT =================================== */

body {
	font-family: "MapleMono";
	background-color: #181825;
	color: #cdd6f4;
}